<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post.css">
    <title>서령스토리</title>
</head>

<body>
    <div class="root flex-col">
        <div class="topbar flex-row">
            <div class="topbar-header center">
                <div class="logo">
                    <a href="/story">SRstory</a>
                </div>
            </div>
            <div class="topbar-container flex-row">
                <div class="linker center"><a href="/story">Story</a></div>
                <div class="linker center"><a href="/story/write">Write</a></div>
                <div class="linker center"><a href="/auth/profile">Profile</a></div>
                <div class="linker center"><a href="/auth/login">Login</a></div>
            </div>
            <div class="topbar-footer"></div>
        </div>
        <div class="container flex-col">
            <div class="post-wrap">
                <div class="post flex-row">
                    <div class="post-header">
                        <div class="user-icon">
                            <img src="/img/user.png">
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="user-info-wrap flex-row">
                            <div class="user-name center">{{postUid}}</div>
                        </div>
                        <div class="post-desc">
                            {{content}}
                        </div>
                        <div class="button-wrap flex-row">
                            <a href="/story/modify/{{id}}">
                                <div class="handle-button">Modify</div>
                            </a>
                            <a href="/story/delete/{{id}}">
                                <div class="handle-button">Delete</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
        </div>
    </div>
</body>

</html>